<div id="splash">
    <h1>Welcome to Friends App!</h1>
    <%= link_to "Get Started!", friends_path %>
    <p>Photo by <a href="https://unsplash.com/@wildlittlethingsphoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Helena Lopes</a> on <a href="https://unsplash.com/s/photos/friendship?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </p>
</div>
